.container-fluid{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #d0e7ff, #f1faff);

}
.signup-box{
    height: 95vh;
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 5px rgba(0.1, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
input{
    border-radius: 5px;
    padding: 10px;   
    color: whitesmoke;
}
#firstName,#lastName,#emailid,#phonenumber,#password,#confirm_password{
    width: 33vw;
    border-width: 0px;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 17px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 3px 3px 5px rgba(0.1, 0, 0, 0.9);
    border-color: rgba(0.1, 0, 0, 0.9) ;
}
#firstName:hover,#lastName:hover,#emailid:hover,#phonenumber:hover,#password:hover,#confirm_password:hover{
    background-color: aliceblue;
    color: black;
}
.page-heading {
    margin-top: 15px;
    color: rgb(61, 119, 207);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 8px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonSignup{
    height: 45px;
    width: 100px;
    border-radius: 10px;
    border-width: 0px;
    background-color: rgb(61, 119, 207);
    box-shadow: 3px 3px 5px rgba(0.1, 0, 0, 0.9);
    color: whitesmoke;
    transition: background-color 0.3s ease;
    margin: 3px;
}
.buttonSignup:hover{
    background-color: rgb(38, 91, 190);
}
.page-captn{
    color: rgb(38, 91, 190);
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    margin: 10px;
}